<!DOCTYPE html>
<html lang="pt">
<head th:replace="~{fragments/loggedIn :: head}"> <title>Cargos</title> </head>

<header th:replace="~{fragments/loggedIn :: navbar}"></header>

<body>
<div class="table-responsive">
    <table class="table table-bordered" id="dataTable">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Status</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="cargo : ${cargos}">
            <td th:text="${cargo.codigo}"></td>
            <td th:text="${cargo.nome}"></td>
            <td th:text="${cargo.ativo}"></td>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Ações</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" th:href="@{'cargos/visualizar/' + ${cargo.codigo}}">Visualizar</a></li>
                    <li><a class="dropdown-item" th:href="@{'/cargos/atualizar/' + ${cargo.codigo}}">Atualizar</a></li>
                </ul>
            </li>
        </tr>
        </tbody>
    </table>
</div>
</body>

<footer th:replace="~{fragments/loggedIn :: footer}"></footer>
</html>