<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt">
<head th:replace="~{fragments/loggedIn :: head}"><title>Emprestimos</title></head>

<header th:replace="~{fragments/loggedIn :: navbar}"></header>

<body class="d-flex flex-column min-vh-100">
<div class="container">
    <div class="row justify-content-center mt-3">
        <div class="mb-2">
            <a class="btn btn-primary" th:href="@{/emprestimos/cadastrar}"><span class="mdi mdi-plus"> Adicionar</span></a>
        </div>
        <div class="table-container">
            <table class="table table-bordered" id="dataTable">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Colaborador</th>
                    <th>Epi</th>
                    <th>Data início</th>
                    <th>Data devolução</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="emprestimo : ${emprestimos}">
                    <td th:text="${emprestimo.codigo}"></td>
                    <td th:text="${emprestimo.colaboradorNome}"></td>
                    <td th:text="${emprestimo.epiNome}"></td>
                    <td th:text="${emprestimo.data}"></td>
                    <td th:text="${emprestimo.devolucao}"></td>
                    <td th:text="${emprestimo.status}"></td>
                    <td class="nav-item dropdown d-flex justify-content-center">
                        <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">Ações
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" th:href="@{'/emprestimos/visualizar/' + ${emprestimo.codigo}}">
                                <span class="mdi mdi-account-eye"></span> Visualizar
                            </a>
                            <button class="dropdown-item finalizar btn btn-danger"
                                    th:if="${emprestimo.status == true}"
                                    th:data-emprestimo-codigo="${emprestimo.codigo}"
                                    type="button">
                                Finalizar
                            </button>
                            <button class="dropdown-item excluir btn btn-danger"
                                    th:data-emprestimo-codigo="${emprestimo.codigo}"
                                    type="button">
                                Excluir
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
                <script src="/excluir_emprestimo.js"></script>
                <script src="/finalizar_emprestimo.js"></script>
            </table>
        </div>
    </div>
</div>
</body>

<footer th:replace="~{fragments/loggedIn :: footer}"></footer>
</html>