<!DOCTYPE html>
<html lang="pt">
<head th:replace="~{fragments/loggedIn :: head}"></head>
<header th:replace="~{fragments/loggedIn :: navbar}"></header>

<body class="d-flex flex-column min-vh-100">

<div class="container">
    <div class="row justify-content-center mt-3">
        <div class="d-flex justify-content-start">
            <h3>Visualizar Emprestimo</h3>
        </div>
        <form class="row g-3" th:object="${emprestimoDto}">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label class="form-label">Colaborador</label>
                    <input type="text" class="form-control" th:field="*{colaboradorNome}" readonly>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label class="form-label">Equipamento</label>
                    <input type="text" class="form-control" th:field="*{epiNome}" readonly>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label class="form-label">Data inicial</label>
                    <input type="text" class="form-control" th:field="*{data}" readonly>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 mb-3">
                    <label class="form-label">Data de devolução</label>
                    <input type="text" th:field="*{devolucao}" class="form-control" readonly>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 mb-3">
                    <label class="form-label">Status</label>
                    <input type="text" th:field="*{status}" class="form-control" readonly>
                </div>
            </div>
            <div>
                <a class="btn btn-primary" th:href="@{/emprestimos/lista}" role="button"> Voltar</a>
            </div>
        </form>
    </div>
</div>

</body>

<footer th:replace="~{fragments/loggedIn :: footer}"></footer>
</html>