<!DOCTYPE html>
<html lang="pt">

<head th:replace="~{fragments/loggedIn :: head}"> <title>Cadastrar Usuario</title> </head>

<header th:replace="~{fragments/loggedIn :: navbar}"></header>

<body class="d-flex flex-column min-vh-100">

<div class="container">
    <div class="row justify-content-center mt-3">
        <div class="d-flex justify-content-start">
            <h3>Cadastro de Usuario</h3>
        </div>
        <div th:if="${param.error}">
            <div class="alert alert-danger">Ocorreu um erro ao processar sua solicitação. Por favor, tente novamente.</div>
        </div>
        <form class="row g-3" th:method="post" th:action="@{/usuarios/cadastrar}" th:object="${usuarioDto}">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label class="form-label">Nome</label>
                    <input type="text" class="form-control" th:field="*{nome}" placeholder="Insira o nome do usuario..." required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label class="form-label">E-mail</label>
                    <input type="text" class="form-control" th:field="*{email}" placeholder="Insira o e-mail do usuario..." required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 mb-3">
                    <label class="form-label">Senha</label>
                    <input type="password" th:field="*{senha}" class="form-control"  placeholder="Insira uma senha..." required>
                </div>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </form>
    </div>
</div>

</body>

<footer th:replace="~{fragments/loggedIn :: footer}"></footer>
</html>
