<!DOCTYPE html>
<html lang="pt">
<head th:replace="~{fragments/loggedIn :: head}"><title>Usuarios</title></head>

<header th:replace="~{fragments/loggedIn :: navbar}"></header>

<body class="d-flex flex-column min-vh-100">
<div class="container">
    <div class="row justify-content-center mt-3">
        <div class="mb-2">
            <a class="btn btn-primary" th:href="@{/usuarios/cadastrar}"><span class="mdi mdi-plus"> Adicionar</span></a>
        </div>
        <div class="table-container">
            <table class="table table-bordered" id="dataTable">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Email</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="usuario : ${usuarios}">
                    <td th:text="${usuario.codigo}"></td>
                    <td th:text="${usuario.nome}"></td>
                    <td th:text="${usuario.email}"></td>
                    <td class="nav-item dropdown d-flex justify-content-center">
                        <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">Ações
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" th:href="@{'/usuarios/visualizar/' + ${usuario.codigo}}">
                                <span class="mdi mdi-account-eye"></span> Visualizar
                            </a>
                            <a class="dropdown-item" th:href="@{'/usuarios/atualizar/' + ${usuario.codigo}}">
                                <span class="mdi mdi-reload"></span> Atualizar
                            </a>
                            <button class="dropdown-item excluir btn btn-danger"
                                    th:data-usuario-codigo="${usuario.codigo}"
                                    type="button">
                                Excluir
                            </button>

                        </div>
                    </td>
                </tr>
                </tbody>
                <script src="/excluir_usuario.js"></script>
            </table>
        </div>
    </div>
</div>
</body>

<footer th:replace="~{fragments/loggedIn :: footer}"></footer>
</html>