<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>EPIs</title>
</head>
<header th:replace="~{fragments/loggedIn :: navbar}"></header>

<body>
<div class="table-responsive">
    <table class="table table-bordered" id="dataTable">
        <thead>
        <tr>
            <th>Id</th>
            <th>Descrição</th>
            <th>Tipo</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="epi : ${epis}">
            <td th:text="${epi.codigo}"></td>
            <td th:text="${epi.descricao}"></td>
            <td th:text="${epi.tipo}"></td>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Ações</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" th:href="@{'epi/visualizar/' + ${epi.codigo}}">Visualizar</a></li>
                    <li><a class="dropdown-item" th:href="@{'/epi/atualizar/' + ${epi.codigo}}">Atualizar</a></li>
                </ul>
            </li>
        </tr>
        </tbody>
    </table>
</div>
</body>

<footer th:replace="~{fragments/loggedIn :: footer}"></footer>
</html>