<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/loggedIn :: head}">
    <!-- Adicionando um pouco de CSS para ajustar o tamanho da imagem -->
    <style>
        /* Definindo a altura do carrossel */
        .carousel-inner {
            height: 500px; /* Ajuste para a altura desejada */
        }
        .carousel-item img {
            width: 100%;
            max-height: 500px; /* Garante que a imagem não ultrapasse a altura definida */
            object-fit: cover; /* Ajusta a imagem para cobrir o espaço disponível */
        }
    </style>
</head>
<header th:replace="~{fragments/loggedIn :: navbar}"></header>

<body class="d-flex flex-column min-vh-100">
<div class="container text-center mt-5">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li th:each="image, iterStat : ${imagens}"
                th:data-slide-to="${iterStat.index}"
                th:classappend="${iterStat.index == 0} ? 'active' : ''"></li>
        </ol>
        <div class="carousel-inner">
            <div th:each="image, iterStat : ${imagens}"
                 th:classappend="${iterStat.index == 0} ? 'carousel-item active' : 'carousel-item'">
                <img class="d-block w-100"
                     th:src="'data:image/png;base64,' + ${image}"
                     alt="Slide imagem">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
</body>

<footer th:replace="~{fragments/loggedIn :: footer}"></footer>
</html>
