<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/loggedIn :: head}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<header th:replace="~{fragments/loggedIn :: navbar}"></header>

<body class="d-flex flex-column min-vh-100">
<div class="container text-center mt-5">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li th:each="image, iterStat : ${imagens}"
                th:data-slide-to="${iterStat.index}"
                th:classappend="${iterStat.index == 0} ? 'active' : ''"></li>
        </ol>
        <div class="carousel-inner">
            <div th:each="image, iterStat : ${imagens}"
                 th:classappend="${iterStat.index == 0} ? 'carousel-item active' : 'carousel-item'">
                <img class="d-block"
                     th:src="'data:image/png;base64,' + ${image}"
                     alt="Slide imagem"
                     style="width: 751px; height: 375px">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
    </div>
</div>

<!-- jQuery and Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
<footer th:replace="~{fragments/loggedIn :: footer}"></footer>
</html>

<style>
    .carousel-control-prev-icon, .carousel-control-next-icon {
        background-color: rgba(0, 0, 0, 0.2); /* Add a subtle background color */
        border-radius: 50%; /* Make it round */
    }

    .carousel-item img {
        margin: auto; /* Centraliza a imagem */
    }
</style>
